@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --Light-red: hsl(0, 100%, 67%);
    --Orangey-yellow: hsl(39, 100%, 56%);
    --Green-teal: hsl(166, 100%, 37%);
    --Cobalt-blue: hsl(234, 85%, 45%);
    --Light-slate-blue: hsl(252, 100%, 67%);
    --Light-royal-blue: hsl(241, 81%, 54%);
    --Violet-blue: hsla(256, 72%, 46%, 1);
    --Persian-blue: hsla(241, 72%, 46%, 0);
    --White: hsl(0, 0%, 100%);
    --Pale-blue: hsl(221, 100%, 96%);
    --Light-lavender: hsl(241, 100%, 89%);
    --Dark-gray-blue: hsl(224, 30%, 27%);
}
*{
    padding: 0;
    margin: 0;
    font-family: "Hanken Grotesk", serif;
    box-sizing: border-box;
}
ul{
  list-style: none;
}
body{
  height: 100vh;
  background-color: var(--Pale-blue);
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  
}
section{
  width: 500px;
  height: 350px;
  background-color: var(--White);
  display: flex;
  border-radius: 15px;
}
.results-side{
  width: 250px;
  max-width: 100%;
  height: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border-radius: 15px;
  background-image: linear-gradient(to top,var(--Light-royal-blue)50% ,var(--Light-slate-blue));
}

.results-side>h2{
  color: var(--Light-lavender);
  padding: 25px;
  font-size: 18px;
}
p{
  color: var(--Light-lavender);
  box-sizing: border-box;
  padding: 15px;
  font-size: 15px;
}
h1{
  color: var(--White);
  font-size: 1.5rem;
}
.score{
  width:130px;
  height:130px;
  border-radius: 50%;
  background-image: linear-gradient(to bottom,var(--Violet-blue),var(--Persian-blue));
  text-align: center;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.score ul :first-child{
  font-size: 3rem;
  font-weight: bold;
  color: var(--White);
}
.score ul :last-child{
  font-size: 10px;
  color: var(--Light-lavender);
}
.summary-side{
  width: 250px;
  max-width: 100%;
  height: 350px;
  background-color: var(--White);
  border-radius: 0 15px 15px 0;
  padding: 15px 20px ;
}
.summary-side h2{
  font-size: 18px;
  font-weight: bold;
  margin: 10px 0 20px;
}
.Reaction :last-child :last-child{
  color: hsl(223, 15%, 73%);
  font-weight: bold;
}
.Memory :last-child :last-child{
  color: hsl(223, 15%, 73%);
  font-weight: bold;
}
.Verbal :last-child :last-child{
  color: hsl(223, 15%, 73%);
  font-weight: bold;
}
.Visual :last-child :last-child{
  color: hsl(223, 15%, 73%);
  font-weight: bold;
}
.Reaction :last-child :first-child{
  color: var(--Dark-gray-blue);
  font-weight: bold;
}
.Memory :last-child :first-child{
  color: var(--Dark-gray-blue);
  font-weight: bold;
}
.Verbal :last-child :first-child{
  color: var(--Dark-gray-blue);
  font-weight: bold;
}
.Visual :last-child :first-child{
  color: var(--Dark-gray-blue);
  font-weight: bold;
}
.Reaction :first-child :last-child{
  color: var(--Light-red);
}
.Memory :first-child :last-child{
  color: var(--Orangey-yellow);
}
.Verbal :first-child :last-child{
  color: var(--Green-teal);
}
.Visual :first-child :last-child{
  color: var(--Cobalt-blue);
}
.Reaction :first-child,.Reaction :last-child{
  display: flex;
  gap: 5px;
}
.Memory :first-child,.Memory :last-child{
  display: flex;
  gap: 5px;
}
.Verbal :first-child,.Verbal :last-child{
  display: flex;
  gap: 5px;
}
.Visual :first-child,.Visual :last-child{
  display: flex;
  gap: 5px;
}
.Reaction{
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color:hsl(0, 57%, 97%);
  margin-bottom: 15px;
  border-radius: 10px;
}
.Memory{
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: hsl(39, 57%, 97%);
  margin-bottom: 15px;
  border-radius: 10px;
}
.Verbal{
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: hsl(166, 57%, 97%);
  margin-bottom: 15px;
  border-radius: 10px;
}
.Visual{
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: hsl(234, 57%, 97%);
  margin-bottom: 15px;
  border-radius: 10px;
}
button{
  width: 100%;
  color: white;
  background-color: var(--Dark-gray-blue);
  padding: 10px;
  border: 0;
  border-radius: 20px;
  font-size: 15px;
}



.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
